*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #132742;
  color:#fff;
  overflow-y: hidden;
}

button{
  cursor: pointer;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}